<% content_for :back_link do %>
  <%= render :partial => 'partials/back_link' %>
<% end %>

<div class="row text-center">
  <div class="col">
    <h1 class="mb-5"><%= @title %></h1>
  </div>
</div>
<div data-id="game">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <div class="card text-center">
        <div class="card-body text-center">
          <%= shape_image @p1, width: 200 %>
          <h5 class="card-title"><%= @p1.capitalize %></h5>
        </div>
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <%= shape_image @p2, width: 200 %>
          <h5 class="card-title"><%= @p2.capitalize %></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center ">
    <div class="col-4">
      <div class="text-center">
        <p>Result: <%= @result %></p>
        <a href="<%= @again_link %>" class="btn btn-primary">Play again</a>
      </div>
    </div>
  </div>
</div>
